.skeleton-loader {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #2d3748; /* Equivalent to bg-gray-800 */
    border-radius: 1.5rem; /* Adjust according to your rounded corner size */
    animation: pulse 1.5s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  